@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark;
}
@custom-variant dark (&:where([data-theme=dark] *));


@layer base {
  [data-theme] {
    &, & * {
      transition:
        background-color 300ms ease,
        /*color 300ms ease,*/
        border-color 300ms ease,
        box-shadow 300ms ease,
        outline-color 300ms ease,
        fill 300ms ease,
        stroke 300ms ease;
    }
  }

    button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}
