@tailwind base;
@tailwind components;
@tailwind utilities;

btn-success {
  @apply text-white;
}

@layer base {
  [data-theme] {
    &, & * {
      transition:
        background-color 300ms ease,
        /*color 300ms ease,*/
        border-color 300ms ease,
        box-shadow 300ms ease,
        outline-color 300ms ease,
        fill 300ms ease,
        stroke 300ms ease;
    }
  }
}

html {
  overflow-y: scroll;
  scrollbar-gutter: stable;
}